@model ExpenseManagment.Models.Expense

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Expense</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Month)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Month.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ExpenseType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ExpenseType.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
